CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
# CONFIG_TARGET_MULTI_PROFILE is not set

# Устройство
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_netcore_n60-pro=y

# Отдельный rootfs (правильно для CI)
CONFIG_TARGET_PER_DEVICE_ROOTFS=y

#################################################
#                BASE SYSTEM                    #
#################################################

CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_busybox=y
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_netifd=y
CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_uci=y

#################################################
#                   LuCI                        #
#################################################

CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-ssl=y

# Русский язык
CONFIG_PACKAGE_luci-i18n-base-ru=y

# (опционально, но удобно)
CONFIG_PACKAGE_luci-app-opkg=y

#################################################
#               WIFI (MTK)                      #
#################################################

CONFIG_PACKAGE_kmod-mt_wifi=y
CONFIG_PACKAGE_mtwifi-cfg-ucode=y

#################################################
#               UTILS                           #
#################################################

CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_tcpdump=y
