CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
# CONFIG_TARGET_MULTI_PROFILE is not set

# Строку CONFIG_TARGET_DEVICE_* здесь НЕ указываем.
# Её подставит GitHub Actions через matrix.

CONFIG_TARGET_PER_DEVICE_ROOTFS=y

#################################################
#                BASE SYSTEM                    #
#################################################

CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_busybox=y
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_netifd=y
CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_uci=y

#################################################
#                   LuCI                        #
#################################################

CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-i18n-base-ru=y

#################################################
#               WIFI (MTK)                      #
#################################################

CONFIG_PACKAGE_kmod-conninfra=y
CONFIG_PACKAGE_kmod-mt_wifi=y
CONFIG_PACKAGE_mtwifi-cfg-ucode=y

#################################################
#               UTILS                           #
#################################################

CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_tcpdump=y
